.about {
  text-align: center;
  margin-top: 50px;
}

.about h1 {
  font-size: 3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about p {
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: 100px;
}
