@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  text-decoration: none;
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(135deg, #922be1, #2b096b);
  background-repeat: none;
}

p {
  margin: 16px auto;
  line-height: 1.5rem;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15vh minmax(80vh, auto) 5vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px;
}

nav .links {
  text-align: right;
}

nav .links a {
  margin-left: 20px;
  padding-bottom: 8px;
  font-weight: 400;
  border-bottom: 3px solid transparent;
}
nav .links a:hover {
  border-color: white;
}

footer {
  text-align: center;
  color: #bbb;
  margin: auto;
}
