.portfolio {
  text-align: center;
}

.portfolio h2 {
  font-size: 3em;
  margin-top: 80px;
}

.portfolio h3 {
  font-size: 2em;
  font-weight: 400;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 80px 20px;
}

.projects div {
  padding: 30px 15px;
  border: 2px solid #bdbdbd;
  border-radius: 25px;
}

.projects h3 {
  font-weight: 500;
}

.projects p {
  color: #ccc;
}
